@{ ViewData["Title"] = "Resume"; }
    <!-- Each image is 350px by 233px -->
    <div id="container">
    <header>
	    <h1>Animated Photo Banner</h1>
	    <p>Lorem ipsum dolor...</p>
    </header>
    
    <!-- Each image is 350px by 233px -->
<div class="photobanner">
    	<img class="first" src="~/images/logo-intro.png" alt="Learn about Asa." />
    	<img src="~/images/logo-hpe.png" alt="Hewlett Packard Enterprise" />
    	<img src="~/images/logo-encompass.jpg" alt="Encompass Technologies" />
    	<img src="~/images/logo-csu.jpg" alt="Colorado State University" />
    	<img src="~/images/logo-bcr.jpg" alt="BCR, LLC" />
    	<img src="~/images/logo-bozeman.jpg" alt="Bozeman Parks Department" />
    	<img src="~/images/logo-intro.png" alt="Learn about Asa." />
    	<img src="~/images/logo-hpe.png" alt="Hewlett Packard Enterprise" />
    	<img src="~/images/logo-encompass.jpg" alt="Encompass Technologies" />
    	<img src="~/images/logo-csu.jpg" alt="Colorado State University" />
    </div>
</div>
    