@{ ViewData["Title"] = "Resume"; }
<div id="parent">
    <div class="contentBlock">
        <h2>Learn about Asa.</h2>
        <p><img src="~/images/logo-intro.png" alt="Learn about Asa." /> Write a short description about CSU logo ACT major, business minor
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a>
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a>
        </p>
    </div>

    <div class="contentBlock">
        <h2>Hewlett Packard Enterprise</h2>
        <p><img src="~/images/logo-hpe.png" alt="Hewlett Packard Enterprise" /> Technical Solutions R &amp; D Intern
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a> <a href="#"
                class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="contentBlock">
        <h2>Encompass Technologies</h2>
        <p><img src="~/images/logo-encompass.jpg" alt="Encompass Technologies" /> Resolutionary Analyst Intern
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a>
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a>
        </p>
    </div>

    <div class="contentBlock">
        <h2>Colorado State University</h2>
        <p><img src="~/images/logo-csu.jpg" alt="Colorado State University" /> Computer Science Department Teaching Assistant
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a> 
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="contentBlock">
        <h2>BCR, LLC</h2>
        <p><img src="~/images/logo-bcr.jpg" alt="BCR, LLC" /> Roustabout with BCR Oilfield Services
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a> 
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="contentBlock">
        <h2>Bozeman Parks Department</h2>
        <p><img src="~/images/logo-bozeman.jpg" alt="Bozeman Parks Department" /> Seasonal Technician
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a> 
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="contentBlock">
        <h2>Kittitas School District</h2>
        <p><img src="~/images/logo-kittitas.jpg" alt="Kittitas School District" /> Assistant Track &amp; Field Coach
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a>
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="contentBlock">
        <h2>Central Washington University</h2>
        <p><img src="~/images/logo-cwu.jpg" alt="Central Washington University" /> Graduate Teaching Assistant @ CWU.
            Studied Primate Behavior <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a>
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="contentBlock">
        <h2>Montana State University</h2>
        <p><img src="~/images/logo-msu.jpg" alt="Montana State University" /> Student-athlete, research assistant
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a>
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>
</div>
<span id="panLeft" class="panner" data-scroll-modifier='-1'>Left</span>

<span id="panRight" class="panner" data-scroll-modifier='1'>Right</span>
    