<!-- slides -->
<!--<section id="slides">

    <div class="slide" data-view="intro" data-order="1">
        <h2>Learn about Asa.</h2>
        <p><img src="~/images/logo-intro.png" alt="Learn about Asa." /> Write a short description about CSU logo ACT major, business minor
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a>
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a>
        </p>
    </div>

    <div class="slide" data-view="hpe" data-order="2">
        <h2>Hewlett Packard Enterprise</h2>
        <p><img src="~/images/logo-hpe.png" alt="Hewlett Packard Enterprise" /> Technical Solutions R &amp; D Intern
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a> <a href="#"
                class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="slide" data-view="encompass" data-order="3">
        <h2>Encompass Technologies</h2>
        <p><img src="~/images/logo-encompass.jpg" alt="Encompass Technologies" /> Resolutionary Analyst Intern
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a>
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a>
        </p>
    </div>

    <div class="slide" data-view="csu" data-order="4">
        <h2>Colorado State University</h2>
        <p><img src="~/images/logo-csu.jpg" alt="Colorado State University" /> Computer Science Department Teaching Assistant
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a> 
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="slide" data-view="bcr" data-order="5">
        <h2>BCR, LLC</h2>
        <p><img src="~/images/logo-bcr.jpg" alt="BCR, LLC" /> Roustabout with BCR Oilfield Services
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a> 
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="slide" data-view="bozeman" data-order="6">
        <h2>Bozeman Parks Department</h2>
        <p><img src="~/images/logo-bozeman.jpg" alt="Bozeman Parks Department" /> Seasonal Technician
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a> 
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="slide" data-view="kittitas" data-order="7">
        <h2>Kittitas School District</h2>
        <p><img src="~/images/logo-kittitas.jpg" alt="Kittitas School District" /> Assistant Track &amp; Field Coach
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a>
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="slide" data-view="cwu" data-order="8">
        <h2>Central Washington University</h2>
        <p><img src="~/images/logo-cwu.jpg" alt="Central Washington University" /> Graduate Teaching Assistant @ CWU.
            Studied Primate Behavior <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a>
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>

    <div class="slide" data-view="msu" data-order="9">
        <h2>Montana State University</h2>
        <p><img src="~/images/logo-msu.jpg" alt="Montana State University" /> Student-athlete, research assistant
            <a href="#" class="slide-trigger open"><i></i> <b>MORE</b></a>
            <a href="#" class="slide-trigger close"><i></i> <b>LESS</b></a></p>
    </div>
</section>-->

<!-- panes (up arrow) -->
<!--<section id="panes" class="hide">

    <div class="pane" data-view="intro">
        <div class="inner">
            <img src="~/images/logo-intro.png" alt="Learn about Asa." />
            <div class="left">
                <p><strong>Asa Staven - (pronounced Ay-suh)</strong>I am graduating from Colorado State University in May 2017
                    where I will begin a career in software engineering.</p>
                <p>My degrees</p>
            </div>
            <div class="right">
                <p>My interests outside of work include
                </p>
                <ul>
                    <li>a</li>
                    <li>b</li>
                    <li>c</li>
                    <li>d</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="pane" data-view="hpe">
        <div class="inner">
            <img src="~/images/logo-hpe.png" alt="Hewlett Packard Enterprise" />
            <div class="left">
                <p><strong>TSSR&amp;D Intern</strong> My job responsibilities include
                    some description from LinkedIn</p>
            </div>
            <div class="right">
                <p>Whatever</p>
                <ul>
                    <li>a</li>
                    <li>b</li>
                    <li>c</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pane" data-view="encompass">
        <div class="inner">
            <img src="~/images/logo-encompass.jpg" alt="Encompass Technologies" />
            <div class="left">
                <p><strong>Blurb</strong> Blurb</p>
            </div>
            <div class="right">
                <p>Blurb</p>
                <ul>
                    <li>Blurb</li>
                    <li>Blurb </li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pane" data-view="csu">
        <div class="inner">
            <img src="~/images/logo-csu.jpg" alt="Colorado State University" />
            <div class="left">
                <p><strong>Blurb</strong> Blurb</p>
            </div>
            <div class="right">
                <p>Blurb</p>
                <ul>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pane" data-view="bcr">
        <div class="inner">
            <img src="~/images/logo-bcr.jpg" alt="BCR, LLC" />
            <div class="left">
                <p><strong>Blurb</strong>Blurb</p>
            </div>
            <div class="right">
                <p>Blurb</p>
                <ul>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pane" data-view="bozeman">
        <div class="inner">
            <img src="~/images/logo-bozeman.jpg" alt="Bozeman Parks Department" />
            <div class="left">
                <p><strong>Blurb</strong>Blurb</p>
            </div>
            <div class="right">
                <p>Blurb</p>
                <ul>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pane" data-view="kittitas">
        <div class="inner">
            <img src="~/images/logo-kittitas.jpg" alt="Kittitas School District" />
            <div class="left">
                <p><strong>Blurb</strong>Blurb</p>
            </div>
            <div class="right">
                <p>Blurb</p>
                <ul>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pane" data-view="cwu">
        <div class="inner">
            <img src="~/images/logo-cwu.jpg" alt="Central Washington University" />
            <div class="left">
                <p><strong>Blurb</strong>Blurb</p>
            </div>
            <div class="right">
                <p>Blurb</p>
                <ul>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pane" data-view="msu">
        <div class="inner">
            <img src="~/images/logo-msu.jpg" alt="Montana State University" />
            <div class="left">
                <p><strong>Blurb</strong>Blurb</p>
            </div>
            <div class="right">
                <p>Blurb</p>
                <ul>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                    <li>Blurb</li>
                </ul>
            </div>
        </div>
    </div>

</section>-->

<!-- about (down arrow)-->
<!--<section id="about-pane">
    <div class="inner">
        <img src="~/images/img-about.jpg" alt="Asa Staven" />
        <div class="left">
            <p><strong>Other intro</strong>current job and responsibilities</p>
        </div>
        <div class="right">
            <p>Failing at maintaining a social presence:</p>
            <ul id="elsewhere">
                <li><a href="http://facebook.com/asastaven" class="facebook">Facebook</a></li>
                <li><a href="http://github.com/teamfor10" class="github">GitHub</a></li>
                <li><a href="http://instagram.com/stavenmaven" class="instagram">Instagram</a></li>
                <li><a href="http://linkedin.com/in/asastaven" class="linkedin">LinkedIn</a></li>
                <li><a href="http://twitter.com/asastaven" class="twitter">Twitter</a></li>
            </ul>
        </div>
    </div>
</section>-->

<!-- track (timeline)-->
<!--<section id="track">
    <nav id="about">
        <a href="#" id="about-trigger">Info</a>
    </nav>
    <nav id="dates">
        <a href="#" class="date open" data-view="intro">Jan <i>15</i> 2017</a>
        <a href="#" class="date open" data-view="hpe"> <i>May</i> 2016</a>
        <a href="#" class="date open" data-view="encompass"> <i>Mar</i> 2016</a>
        <a href="#" class="date open" data-view="csu"> <i>July</i> 2015</a>
        <a href="#" class="date open" data-view="bcr"> <i>Nov</i> 2014</a>
        <a href="#" class="date open" data-view="bozeman"> <i>Aug</i> 2014</a>
        <a href="#" class="date open" data-view="kittitas"> <i>Feb</i> 2014</a>
        <a href="#" class="date open" data-view="cwu"> <i>Sep</i> 2012</a>
        <a href="#" class="date open" data-view="msu"> <i>Aug</i> 2007</a>
    </nav>
    <nav id="ticker">
        <a href="#" id="ticker-moment"></a>
    </nav>
    <nav id="keys">
        <a href="#" id="KeyTop"></a>
        <a href="#" id="KeyRight"></a>
        <a href="#" id="KeyBottom"></a>
        <a href="#" id="KeyLeft"></a>
    </nav>
</section>
<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
<script src="~/js/script.js"></script>
<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37384038-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
</script>-->